body{
    background-color: grey;
}
p{
    background-color: white;
    font-style: bold;
    padding: 10px;
}
span{
    background-color: white;
    font-style: bold;
    padding: 10px;
    display: inline-block;
}
ul{
    list-style: none;
    background-color: lightgray;
    padding: 10px;
}
a{
   color: red;
   font-family: "Times New Roman", Times, serif;
   font-size: 15px;
}
button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: red;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    text-decoration-line: underline;
    padding: 0px;
}

